body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: blue; */
}

.sketch-holder{
    display: flex;
    align-self: center;
    /* background-color: red; */
    /* margin-top: 2vh; */
    margin-bottom: auto;
    /* height: 1px; */
}
